.btn {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 55px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.btn:hover {
    border: 1px solid #458FF6;
    background-color: #fff;
    color: #007bff;
}

.btn__2s {
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: #fff;
    color: #458FF6;
    padding: 15px 30px;
    border: 2px solid #458FF6;
    border-radius: 55px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

.btn__2s:hover {
    background-color: #458FF6;
    color: #fff;
    border-color: #007bff;
}